

<%-include("partials/header")%>


    <div class="container-fluid cont-login">
        <div class="row">
            <!-- <div class="col-sm-12 col-md-6 col-lg-5 left-side d-none d-md-block">
                <div class="container">
                    <div class="row login-left">
                        <p class="brand-name">UdemyPro</p>
                        <p class="brand-desc">Can join Courses and learn from home</p>
                        <!-- <img class="img-fluid" src="images/register.svg"> -->

                    <!-- </div>

                </div>
            </div>  --> -->

            <div class="col-sm-12 col-md-6 col-lg-7 right-side">
                <div class="login-form">
                    <br>
                    <h2 class="sign">Sign up to UdemyPro</h2>
                    <form action="register" method="POST" >
                        <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <%= error.msg %>
                        </div>
                        <% }); %>
                        <% } %>
                        <div class="form-group">
                            <label class="name">Name<span class="compulsory">*</span></label>
                            <input type="text" class="form-control" name="name" placeholder="Enter Name"
                                value="<%= typeof name != 'undefined' ? name : '' %>">
                        </div>
                        <div class="form-group">
                            <label>Phone<span class="compulsory">*</span></label>
                            <input type="text" class="form-control" name="phone" placeholder="Enter phone"
                                value="<%= typeof phone != 'undefined' ? phone : '' %>">
                        </div>
                        <div class="form-group">
                            <label>Email<span class="compulsory">*</span></label>
                            <input type="email" class="form-control" name='email' placeholder="Enter Email"
                                value="<%= typeof email != 'undefined' ? email : '' %>">
                        </div>
                        <div class="form-group">
                            <label>Password<span class="compulsory">*</span></label>
                            <input type="password" class="form-control" name="password" placeholder="Enter Password"
                                value="<%= typeof password != 'undefined' ? password : '' %>">
                        </div>

                        <div class="form-group">
                            <label>Re-Enter Password<span class="compulsory">*</span></label>
                            <input type="password" class="form-control" name="password2"
                                placeholder="Re-Enter Password "
                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                        </div>
                        <!-- <div class="form-group">
                            <label>Profile image <span class="compulsory">*</span></label>
                            <input type="file" class="form-control" name="image" id="image" required=true>
                        </div> -->

                        <button type="submit" class="btn btn-outline-success">Register</button>
                    </form>
                    <p class="mt-4">Have An Account? <a class="feat" href="login">Login</a>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
