<%-include("partials/header")%>

<section class="head_nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light op">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MyCourses</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              <%if(rol==="admin"){%>
                <li class="nav-item">
                  <a class="nav-link" href="/admin">Create_Course</a>
                </li>
              <%}%>
            </ul>
          </div>
        </div>
      </nav>
</section>

<section>
  <div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                  <img src="/images/student.png">
                </div>
            </div>
            <% user.forEach(function(use){ %>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                              <%= use.name %>
                            </h5>
        
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= use.name %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= use.email %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= use.phone %></p>
                                    </div>
                                </div>
            
                              </div>
                              <%}) %>
                </div>
            </div>
            <section id="pricing" class="white-section">
              <h2 class="heading1">Your Courses</h2>
              <p></p>
              <div class="row">
               <% if(rol==="admin"){ %>
                  <% courses.forEach(function(course){ %>
                    <div class="pricing-component col-lg-4 col-md-6">
                        <div class="card">
                          <div class="card-header">
                            <img class="student_image" src="/public/images/student.png" alt="Course-profile">
                          </div>
                          <div class="card-body">
                            <h3>
                              <%= course.course_title %> 
                            </h3>
                            <p>Duration : <%= course.duration %></p>
                            <p><%= course.start_date %></p>
                            <form action="/<%= course.course_title %>">
                              <button type="submit" class="form-control btn btn-dark btn-lg button2">Enroll</button>
                            </form>
                            </div>
                            </div>
                            </div>
                <% }); %>
               <% }else{%>
                <% students.forEach(function(stu){ %>
                  <div class="pricing-component col-lg-4 col-md-6">
                      <div class="card">
                        <div class="card-header">
                          <h3>
                            <%= stu.course_title %> 
                          </h3>
                        </div>
                        <div class="card-body">
                          
                          <p>Duration : <%= stu.duration %></p>
                          <p><%= stu.start_date %></p>
                          <form action="/<%= stu.course_title %>">
                            <button type="submit" class="form-control btn btn-dark btn-lg button2">Enroll</button>
                          </form>
                          </div>
                          </div>
                          </div>
              <% }); %>
               <% } %>
                 
          </section>
        </div>
    </form>           
</div>
</section>





<%-include("partials/footer")%>